<header class="header">
  <div class="header__status">
    <h1>Medical Follow-up</h1>
  </div>
  <div class="header__search">
    <input type="text" class="header__search-input" placeholder="Search for patient ..." />
    <button class="header__search-button">
      <img src="logo/search-logo.png" alt="Logo Search">
    </button>
  </div>
  <div class="header__separator"></div> <!-- Séparateur -->
  <div class="header__information">
    <button class="header__info-button">
      <img src="logo/info-logo.png" alt="Information">
    </button>
    <button class="header__settings-button">
      <img src="logo/settings-logo.png" alt="Settings">
    </button>
  </div>
  <div class="header__separator"></div> <!-- Séparateur -->

  <div class="header__user">
    <button class="header__user-button">
      <img src="logo/user-logo.png" alt="User Icon">
    </button>
    <div class="header__user-information" >
      <h3>Nom du Médecin</h3>
      <h4>Role</h4>
    </div>
  </div>
</header>
