<header class="header">
  <div class="header__status">
    <h1>Medical Follow-up</h1>
  </div>

  <div class="header__search">
    <input type="text" class="header__search-input" placeholder="Search for patient ..."
           [(ngModel)]="searchQuery" (input)="onSearch()" />
    <button class="header__search-button" (click)="onSearch()">
      <img src="logo/search-logo-header.png" alt="Logo Search">
    </button>

    <div class="search-results" *ngIf="isSearchOpen && searchResults.length > 0">
      <ul>
        <li *ngFor="let patient of searchResults" class="search-result-item">
          <a [routerLink]="['/patients', patient.id]" class="patient-link">
            <span class="patient-name">{{ patient.firstname }} {{ patient.lastname }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="header__separator"></div>

  <div class="header__information">
    <button class="header__info-button" (click)="openInfoModal()">
      <img src="logo/info-logo-header.png" alt="Information">
    </button>
    <button class="header__settings-button" (click)="openSettingsModal()">
      <img src="logo/setting-logo-header.png" alt="Settings">
    </button>
  </div>

  <div class="header__separator"></div>

  <div class="header__user">
    <button class="header__user-button">
      <img src="logo/user-logo-header.png" alt="User Icon">
    </button>
    @if(currentPro){
    <div class="header__user-information">
      <h4>{{currentPro.professional.firstName}}</h4>
      <h4>{{currentPro.professional.lastName}}</h4>
      <h4>{{currentPro.professional.roles}}</h4>
    </div>
    }
  </div>
</header>

<app-information-modal
  *ngIf="isInfoModalOpen"
  (closeModal)="closeInfoModal()">
</app-information-modal>
