<div class="modal" [class.modal--active]="isModalOpen">
  <div class="modal__content">
    <h2>Create a New Patient</h2>
    <form [formGroup]="patientForm" (ngSubmit)="submit()">
      <div>
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" formControlName="lastName" />
      </div>

      <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" formControlName="firstName" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
      </div>

      <div>
        <label for="phoneNumber">Phone Number:</label>
        <input id="phoneNumber" type="text" formControlName="phoneNumber" />
      </div>

      <div>
        <label for="birthDate">Date of Birth:</label>
        <input id="birthDate" type="date" formControlName="birthDate" />
      </div>

      <div>
        <label for="insurance">Insurance:</label>
        <input id="insurance" type="text" formControlName="mutuelle" />
      </div>

      <div>
        <label for="additionalInfo">Additional Information:</label>
        <textarea id="additionalInfo" formControlName="info_supplement"></textarea>
      </div>

      <fieldset formGroupName="address">
        <legend>Address</legend>

        <label for="street">Street:</label>
        <input id="street" type="text" formControlName="street" />

        <label for="city">City:</label>
        <input id="city" type="text" formControlName="city" />

        <label for="streetNumber">Street Number:</label>
        <input id="streetNumber" type="text" formControlName="streetNumber" />

        <label for="zipCode">Zip Code:</label>
        <input id="zipCode" type="text" formControlName="zipCode" />
      </fieldset>

      <div class="modal__actions">
        <button type="submit">Create</button>
        <button type="button" (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>
