<div *ngIf="infosTotalPatients" class="patient-details">
  <h2>{{ infosTotalPatients.firstname }} {{ infosTotalPatients.lastname }}</h2>
  <p><strong>Date de naissance :</strong> {{ infosTotalPatients.birthDate | date:'longDate' }}</p>
  <p><strong>Email :</strong> {{ infosTotalPatients.email }}</p>
  <p><strong>Téléphone :</strong> {{ infosTotalPatients.phoneNumber }}</p>
  <p><strong>Mutuelle :</strong> {{ infosTotalPatients.mutuelle }}</p>
  <p><strong>Adresse :</strong>
    {{ infosTotalPatients.address.street }} {{ infosTotalPatients.address.streetNumber }},
    {{ infosTotalPatients.address.city }} {{ infosTotalPatients.address.zipCode }}
  </p>
  <p><strong>Informations supplémentaires :</strong> {{ infosTotalPatients.info_supplement }}</p>

  <button (click)="enableEdit()" *ngIf="!isEditing">Modifier</button>

  <form *ngIf="isEditing" (ngSubmit)="confirmUpdatePatient()">
    <label>Nom:
      <input type="text" [(ngModel)]="infosTotalPatients.firstname" name="firstname" required />
    </label>
    <label>Prénom:
      <input type="text" [(ngModel)]="infosTotalPatients.lastname" name="lastname" required />
    </label>
    <label>Email:
      <input type="email" [(ngModel)]="infosTotalPatients.email" name="email" required />
    </label>
    <label>Téléphone:
      <input type="text" [(ngModel)]="infosTotalPatients.phoneNumber" name="phoneNumber" required />
    </label>
    <label>Mutuelle:
      <input type="text" [(ngModel)]="infosTotalPatients.mutuelle" name="mutuelle" required />
    </label>
    <label>Adresse:
      <input type="text" [(ngModel)]="infosTotalPatients.address.street" name="street" required />
    </label>
    <label>Numéro de rue:
      <input type="text" [(ngModel)]="infosTotalPatients.address.streetNumber" name="streetNumber" required />
    </label>
    <label>Ville:
      <input type="text" [(ngModel)]="infosTotalPatients.address.city" name="city" required />
    </label>
    <label>Code Postal:
      <input type="text" [(ngModel)]="infosTotalPatients.address.zipCode" name="zipCode" required />
    </label>
    <label>Informations supplémentaires:
      <textarea [(ngModel)]="infosTotalPatients.info_supplement" name="info_supplement"></textarea>
    </label>

    <button type="submit">Sauvegarder</button>
    <button type="button" (click)="cancelEdit()">Annuler</button>
  </form>
</div>
