<div class="app-container">
  <!-- Sidebar -->
  <app-sidebar (adminModalOpened)="openAdminModal()"></app-sidebar>

  <div class="main-content">
    <!-- Header -->
    <div class="header">
      <app-header></app-header>
    </div>

    <!-- Page content avec router-outlet -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Conditionnellement afficher la modale -->
  <app-admin-modal
    *ngIf="isModalOpen"
    (closeModal)="closeAdminModal()">
  </app-admin-modal>
</div>
