<!-- Bouton pour ouvrir la modal -->
@if(infoBasicPatients){

<div class="disposition" >
  <div class="patient-header">
    <img class="patient-icon" src="logo/person.png" alt="Patients Icon">
    <h2>{{ totalPatients }}</h2>
    <p>Total Patient{{ totalPatients > 1 ? 's' : '' }}</p>
  </div>
  <div class="button-container">
    <button class="add-patient-btn" (click)="addPatientModal.openModal()">
      <i class="add-patient-btn__icon">+</i>
      Add Patient
    </button>
  </div>
</div>

<div class="table">
  <div class="table__header">
    <div class="table__row">
      <div class="table__cell table__cell--header">First Name</div>
      <div class="table__cell table__cell--header">Name</div>
      <div class="table__cell table__cell--header">Email</div>
      <div class="table__cell table__cell--header">Phone Number</div>
      <div class="table__cell table__cell--header">Action</div>
      <div class="table__cell table__cell--header">Delete</div>
    </div>
  </div>
  <div class="table__body-wrapper">
    <div class="table__body">
      <div class="table__row" *ngFor="let patient of infoBasicPatients">
        <div class="table__cell table__cell--data">{{ patient.firstname }}</div>
        <div class="table__cell table__cell--data">{{ patient.lastname }}</div>
        <div class="table__cell table__cell--data">{{ patient.email }}</div>
        <div class="table__cell table__cell--data">{{ patient.phoneNumber }}</div>
        <div class="table__cell table__cell--data">
          <a [routerLink]="['/patients', patient.id]" class="detail-icon">
            <img class="details-icon" src="logo/edit-white.png" alt="Details Icon">
          </a>
        </div>
        <div class="table__cell table__cell--data">
          <img class="details-icon" src="logo/delete_test.png" alt="Supprimer" (click)="openDeleteModal(patient)">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmation de suppression -->
  <div *ngIf="showModal" class="confirmation-modal">
    @if(selectedPatient){
      <div class="modal-content">
        <h3>Confirm Deletion</h3>
        <p>Are you sure you want to delete <strong>{{ selectedPatient.firstname }} {{ selectedPatient.lastname }}</strong>?</p>

        <div class="modal-actions">
          <button class="confirm-btn" (click)="deletePatient()">Yes, delete</button>
          <button class="cancel-btn" (click)="cancelDelete()">Cancel</button>
        </div>
      </div>
    }
  </div>


<!-- Composant modal-->
<app-add-patient-modal
  #addPatientModal
  (patientAdded)="addPatient($event)">
</app-add-patient-modal>
}
