<div class="container">
  <!-- Calendrier FullCalendar -->
  <div class="full-calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <!-- Formulaire de Prise de Rendez-vous -->
  <div class="form-container">
    <form (ngSubmit)="addEvent()" [formGroup]="newEvent">
      <h3>Ajouter un Rendez-vous</h3>

      <label >Patient :</label>
      <p-autoComplete size="51"
        formControlName="patientid"
        [suggestions]="filteredPatients!"
        (completeMethod)="filterPatients($event)"
        optionValue="id"
        optionLabel="fullname"/>

      <label for="dateRdv">Date de RDV :</label>
      <input id="dateRdv" type="date" formControlName="dateRdv" required>

      <label for="hourRdv">Heure de Début :</label>
      <input id="hourRdv" type="time" formControlName="hourRdv" required>

      <label for="durationRdv">Heure fin du RDV :</label>
      <input id="durationRdv" type="time" formControlName="durationRdv" required>

      <label for="statusRdv">Statut du RDV :</label>
      <select id="statusRdv" formControlName="statusRdv" required>
        <option value="CANCELLED">CANCELLED</option>
        <option value="CONFIRMED">CONFIRMED</option>
        <option value="FINISHED">FINISHED</option>
      </select>



      <label for="rdvType">Description du RDV :</label>
      <input id="rdvType" type="text" formControlName="rdvType" required>

      <button type="submit">Ajouter</button>
    </form>
  </div>
</div>

<!-- Modal de confirmation personnalisé -->
<div class="custom-modal" *ngIf="showModal">
  <div class="modal-content">
    <h3>Confirmer la suppression</h3>
    <p>Êtes-vous sûr de vouloir supprimer cet événement ?</p>
    <div class="modal-actions">
      <button (click)="cancelDelete()">Annuler</button>
      <button class="delete-btn" (click)="confirmDelete()">Supprimer</button>
    </div>
  </div>
</div>
