<nav class="sidebar">
  <div class="sidebar__logo">
    <img src="images/logo.png" alt="Logo ClinicEase">
    <h1>ClinicEase</h1>
  </div>

  <div class="sidebar__separator"></div>
  <div class="sidebar__dashboard">
    <img src="logo/dashbord-logo.png" alt="Home Icon">
    <h3>Dashboard</h3>
  </div>

  <div class="sidebar__separator"></div>
  <div class="sidebar__link">
    <h2>Clinic</h2>
    <ul>
      <li>
        <img src="logo/person.png" alt="Patients Icon">
        <a routerLink="/patients/index">Patients</a>
      </li>
      <li>
        <img src="logo/staff.png" alt="Staff Icon">
        <a routerLink="/page2">Staff</a>
      </li>
      <li>
        <img src="logo/calendar.png" alt="Calendar Icon">
        <a routerLink="/page3">Consultation</a>
      </li>
    </ul>
  </div>

  <div class="sidebar__separator"></div>
  <!-- Support Client -->
  <div class="sidebar__support">
    <h2>Customer Support</h2>
    <ul>
      <li>
        <img src="logo/phone.png" alt="Call Icon">
        <a (click)="openAdminModal()">Admin Support</a>
      </li>
      <li>
        <img src="logo/mail.png" alt="Mail Icon">
        <a href="mailto:admin@clinicease.com?subject=Demande de Support&body=Bonjour,">
          Contact Mail
        </a>
      </li>
    </ul>
  </div>

</nav>

