<!-- sidebar.component.html -->
<nav class="sidebar">

  <!-- Logo de la sidebar -->
  <div class="sidebar__logo">
    <img src="images/logo.png" alt="Logo ClinicEase">
    <h1>ClinicEase</h1>
  </div>

  <div class="sidebar__separator"></div> <!-- Séparateur -->

  <!-- Menu principal -->
  <div class="sidebar__dashboard">
    <img src="logo/home-logo.png" alt="Home Icon">
    <h3>Dashboard</h3>
  </div>

  <div class="sidebar__separator"></div> <!-- Séparateur -->

  <!-- Liens pour Clinic -->
  <div class="sidebar__link">
    <h2>Clinic</h2>
    <ul>
      <li>
        <img src="logo/user-logo.png" alt="Patients Icon">
        <a routerLink="/page1">Patients</a>
      </li>
      <li>
        <img src="logo/staff-logo.png" alt="Staff Icon">
        <a routerLink="/page2">Staff</a>
      </li>
    </ul>
  </div>

  <div class="sidebar__separator"></div> <!-- Séparateur -->

  <!-- Support Client -->
  <div class="sidebar__support">
    <h2>Customer Support</h2>
    <ul>
      <li>
        <img src="logo/call-logo.png" alt="Call Icon">
        <a routerLink="/#">Admin Support</a>
      </li>
      <li>
        <img src="logo/mail-logo.png" alt="Mail Icon">
        <a routerLink="/#">Contact Mail</a>
      </li>
    </ul>
  </div>

</nav>
