<div class="modal" [class.modal--active]="isModalOpen">
  <div class="modal__content">
    <h2>Add a new patient</h2>
    <form (ngSubmit)="addStaff()">
      <label>
        Name:
        <input type="text" [(ngModel)]="newStaff.name" name="name" required />
      </label>
      <label>
        Email:
        <input type="email" [(ngModel)]="newStaff.email" name="email" required />
      </label>
      <label>
        Role:
        <input type="text" [(ngModel)]="newStaff.role" name="address" required />
      </label>

      <div class="modal__actions">
        <button type="submit">Add</button>
        <button type="button" (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>
